services:
  ros2-desktop:
    image: humble-ros-desktop:overlay
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        ROS_DISTRO: jazzy
      target: base
    stdin_open: true
    tty: true
    network_mode: host
    ipc: host
    privileged: true
    environment:
       - ROS_DOMAIN_ID=42
       - DISPLAY=$DISPLAY
    devices:
      - "/dev/dri/:/dev/dri/"
    volumes:
      - $HOME/.Xauthority:/root/.Xauthority:ro

  moveit-sim-280:
    extends: ros2-desktop
    image: humble-ros-desktop:base
    environment:
        - ROBOT_MODEL=mycobot_280
    command: /root/ros2_ws/src/third-party/mycobot-ros2/mycobot_bringup/scripts/mycobot_gazebo_and_moveit.sh

  moveit-sim-320:
    extends: ros2-desktop
    image: humble-ros-desktop:base
    environment:
        - ROBOT_MODEL=mycobot_320
    command: /root/ros2_ws/src/third-party/mycobot-ros2/mycobot_bringup/scripts/mycobot_gazebo_and_moveit.sh

  robot-description:
    extends: ros2-desktop
    image: humble-ros-desktop:base
    environment:
        - ROBOT_MODEL=mycobot_320
    command: ros2 launch clase6 robot_description.launch.py

  dev:
    extends: ros2-desktop
    image: humble-ros-desktop:base
    command: /bin/bash
    volumes:
      - ./src/third-party/mycobot-ros2:/root/ros2_ws/src/mycobot_ros2
